:root {
    --clr-beaver: hsl(27, 22%, 51%);
    --clr-cod-grey: hsl(0, 0%, 7%);
    --clr-mirage: hsl(234, 30%, 13%);
    --clr-ebony-clay: hsl(218, 21%, 18%);
    --clr-shuttle-grey: hsl(217, 14%, 42);
    --clr-white: hsl(0 0% 100%);
    --clr-grey: #4c4c4c80;
}